{% extends "base.html" %}
{% block content %}
<div class="container-fluid text-left">
    <div class="row">
        <div class="aboutText">
            <div class="image_text" align='center'>
                <img src="http://www.djarumcoklat.com/images/media/1201020973_f-1450284876.jpg" alt="Fouier portrait">
                <p><small>Image Source:<a href="http://www.djarumcoklat.com/article/baron-jeanbaptiste-joseph-fourier-siapa-ya-dia" target="_blank">www.djarumcoklat.com</a> </small></p>
            </div><br>
            <p>
                The project was created in my spare time purely for learning and experimenting with with mathematical concepts of Fourier Series.
                The algorithm implementation can be found on <a href="https://github.com/lostdevfound/data_tech_analysis" target="_blank">Github</a>.
                The webapp source code can be also found on <a href="https://github.com/lostdevfound/data-tech-analysis-app" target="_blank">Github</a>.
                <br><b>Note:</b> The webapp is hosted on the limited Heroku account, therefore the performance is quite slow.
            </p>
            <b>Computing Stack:</b>
            <ul>
                <li>Python 3.6</li>
                <li>NumPy - scientific computing module</li>
                <li>SymPy - symbolic mathematics</li>
                <li>Matplotlib - 2d plotting library</li>
            </ul>
            <b>Web Stack:</b>
            <ul>
                <li>Python 3.6</li>
                <li>Flask - Python micro web framework</li>
                <li>Jquery - JavaScript front-end framework</li>
                <li>Bokeh - Python interactive visualization library for web browsers</li>
                <li>Bootstrap CSS - front-end framework</li>
            </ul>
            <b>References:</b>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Fourier_analysis" target="_blank">Fourier Analysis</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Fourier_transform" target="_blank">Fourier transform</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Convolution" target="_blank">Convolution</a></li>
            </ul>

            <p> <b>Project author</b>: Einar Gabbassov. gabbassov@gmail.com <a href="http://renderstory.com/" target="_blank">www.renderstory.com</a></p>
        </div>
    </div>
</div>
{% endblock %}
