{% extends "base.html" %}
{% block content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="row topform">
            <div class="col-sm-12">
                <div class="form-inline">
                        <p> Select input </p>
                        <select id="selectData" class="form-control custform">
                            <option value="Stock">Stock Data</option>
                            <option value="Weather">Weather Data</option>
                            <option value="Random">Random data</option>
                        </select>
                        <button class="btn btn-primary" id="loadButton"type="button">Compute</button>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <!-- Column with parameters -->
            <div class="col-sm-2 sidenav">
                Params
            </div>

            <!-- Graphs column -->
            <div class="col-sm-9 text-left">
                <div class="row">
                    <div id="graphBlock" class="col-sm-12 center-block">

                        <div class="row">
                            <div class="col-sm-12 center-block">
                                <h3> Original Data <small id="origDataText"></small> </h3>
                                <div id="firstPlotDiv"></div>
                                <div id="firstPlotScript"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 center-block">
                                <h3> Fourier Analysis <small> Use Fourier Analysis to fit the data, decompose it into frequencies and amplitudes </small> </h3>
                                <!-- Plot data -->
                                <div id="origPlotDiv">
                                    <!-- {{ origPlot|safe }} -->
                                </div>
                                <div id="origPlotScript">
                                    <!-- {{ origScript|safe }} -->
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 center-block">
                                <!-- Plot data -->
                                <div id="ampPlotDiv">
                                    <!-- {{ ampPlot|safe }} -->
                                </div>
                                <div id="ampPlotScript">
                                    <!-- {{ ampScript|safe }} -->
                                </div>
                            </div>

                            <div class="col-sm-6 center-block">
                                <!-- Plot data -->
                                <div id="freqPlotDiv">
                                    <!-- {{ freqPlot|safe }} -->
                                </div>
                                <div id="freqPlotScript">
                                    <!-- {{ freqScript|safe }} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Column at the right -->
            <div class="col-sm-1 sidenav center-block">
            </div>
        </div>
    </div>
</div>
{% endblock %}
